* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-weight: normal;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  background-color: #efefef;
}

.btn {
  border: 2px solid;
  border-radius: 40px;
  padding: 12px 26px;
  background-color: #fff;
  cursor: pointer;
}

.btn:hover {
  font-weight: 600;
}

.btn.btn-link {
  color: #fff;
}

.header {
  background-color: #fff;
}
.header .menu {
  background: #efefef;
}
.header .nav {
  display: flex;
}
.header .nav__item {
  padding: 17px 1% 16px;
}
.header .nav__item:hover {
  text-decoration: underline;
}
.header .nav__item .nav__link {
  color: #000;
}
.header .nav--main {
  border-top: 1px solid #efefef;
  background-color: #fff;
}
.header .nav--main .nav__item {
  padding: 30px 1.5%;
}

.menu,
.nav--main-wrap,
.nav--main,
.flex-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sides {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  background-color: #fff;
}
.sides .logo {
  gap: 20px;
}
.sides .logo__name {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.1em;
  text-align: left;
  color: #F13C6E;
  text-transform: uppercase;
}
.sides .call {
  gap: 40px;
}
.sides .call__link {
  font-size: 0.9rem;
  font-weight: 700;
  line-height: normal;
  color: #000;
  font-style: normal;
}
.sides .call__link:hover {
  text-decoration: underline;
}
.sides .call__btn {
  border-color: #F13C6E;
}

.banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

img.banner {
  width: 100%;
  position: relative;
  z-index: 1;
}

.cont-banner-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  padding-left: 14.5%;
  color: #fff;
  position: absolute;
  z-index: 2;
}
.cont-banner-text .banner-text {
  width: 50%;
}
.cont-banner-text .banner__heading {
  font-size: 3rem;
  font-weight: 700;
  line-height: 56px;
  text-align: left;
}
.cont-banner-text .card-btn {
  background-color: #F13C6E;
  padding: 12px 26px;
}

.offers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 15%;
  margin: 80px 0;
}
.offers .offers__heading {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 38px;
}
.offers .goods {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.offers .goods__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.offers .goods__item .product {
  color: #000;
}
.offers .goods__item .goods__img {
  padding: 25px;
}
.offers .goods__item .item-name {
  font-size: 0.875rem;
  font-weight: 400;
  padding: 20px 35px;
  text-align: center;
}
.offers .goods__item .item__price {
  font-size: 1.31rem;
  font-weight: 700;
}
.offers .goods__item .item-btn {
  padding: 9px 53px 9px 51px;
  margin: 20px 0 25px;
  background-color: #F13C6E;
  border-color: #F13C6E;
  color: #fff;
}
.offers .goods__item:hover .goods__img {
  opacity: 0.5;
}
.offers .bonus__block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 100px 0;
  gap: 30px;
}
.offers .bonus__block .bonus__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #F13C6E;
  width: 100%;
  padding: 35px 40px;
}
.offers .bonus__block .bonus__item .bonus__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.offers .bonus__block .bonus__item .bonus__description .bonus__heading {
  font-size: 1.125rem;
  font-weight: 700;
  color: #fff;
}
.offers .bonus__block .bonus__item .bonus__description .bonus__info {
  font-size: 0.875rem;
  font-weight: 400;
  margin: 25px 0;
  color: #fff;
  width: 60%;
}
.offers .bonus__block .bonus__item .bonus__description .button__email {
  border-color: #fff;
  border-radius: 30px;
  width: 80%;
  padding: 9px 25px;
}
.offers .bonus__block .bonus__item .bonus__description .button__map {
  border: 2px solid #fff;
  border-radius: 30px;
  padding: 9px 53px;
  color: #fff;
  background-color: #F13C6E;
}
.offers .bonus__block .bonus__item .bonus__description .button__map:hover {
  font-weight: 600;
}
.offers .bonus__block .bonus__item .bonus__img {
  width: 30%;
}
.offers .advert__block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 80px;
}
.offers .advert__block .advert__item {
  width: 25%;
  padding: 35px 67px;
  background-color: #fff;
  border: 1px solid #efefef;
}
.offers .advert__block .advert__item:hover {
  opacity: 0.6;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #fff;
}
.footer .category__block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0 15%;
  width: 100%;
  gap: 30px;
  margin: 60px 0;
}
.footer .category__block .category__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 25%;
}
.footer .category__block .category__item .category__heading {
  font-size: 1rem;
  font-weight: 700;
  width: 40%;
  padding-bottom: 30px;
  border-bottom: 1px solid #efefef;
}
.footer .category__block .category__item .category__list {
  padding-top: 25px;
  font-size: 0.75rem;
  font-weight: 400;
}
.footer .category__block .category__item .category__list .category__link {
  display: inline-block;
  color: #828282;
  padding: 5px 0;
}
.footer .category__block .category__item .category__list .category__link:hover {
  text-decoration: underline;
  color: #000;
}
.footer .contacts__block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 15%;
  width: 100%;
  border-top: 1px solid #efefef;
}
.footer .contacts__block .contacts__item {
  padding: 40px 0;
}
.footer .contacts__block .contacts__item .messagers__item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
.footer .contacts__block .contacts__item .call {
  gap: 40px;
}
.footer .contacts__block .contacts__item .call__link {
  font-size: 0.9rem;
  font-weight: 700;
  line-height: normal;
  color: #000;
  font-style: normal;
}
.footer .contacts__block .contacts__item .call__link:hover {
  text-decoration: underline;
}
.footer .contacts__block .contacts__item .call__btn {
  border-color: #F13C6E;
}
.footer .rights__block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 15%;
  width: 100%;
  background-color: #efefef;
}
.footer .rights__block .rights__item {
  padding: 25px 0;
}
.footer .rights__block .rights__item .rights__text {
  color: #828282;
  font-size: 0.75rem;
  font-weight: 400;
}/*# sourceMappingURL=style.css.map */